header {
    background-color: #85bb65;
    display: flex;

    h1 {
        z-index: 1;
    }

    nav {
        z-index: 1;

        a {
        text-decoration: none;
        color: black;
        
        }
    }

    img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
}