header {
    background-color: #85bb65;
    display: flex;
    margin: 0.3rem 2rem;
    border-radius: 25px;
    justify-content: space-between;
    @media(max-width: 800px) {
        flex-direction: column;
        margin: 0.3rem 25%;
    }
    @media(max-width: 500px) {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    h1 {
        z-index: 1;
        font-size: 2.5rem;
        width: 25%;
        float: left;
        margin: auto;
        @media(max-width: 800px) {
            width: 100%;
            text-align: center;
        }
    }

    nav {
        z-index: 1;
        margin: 1rem auto;
        width: 75%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @media(max-width: 800px) {
            width: 100%;
            text-align: center;
            flex-direction: column;
        }
        

        a {
        text-decoration: none;
        font-size: 2rem;
        color: black;

        }
    }

    img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 100%;
    }
}